@import 'tailwindcss';
@import '@fontsource/poppins';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/700.css';

body {
  background-color: #e5e9f0;
  font-family: 'poppins';
}

h1 {
  font-family: 'poppins';
}
